:root {
  --cor-upload: #f24822;
  --cor-documento: #3dadff;
  --cor-acao: #66d575;
  --cor-estatisticas: #874fff;
  --cor-painel: #dddddd;
  --cor-no: #757575;
  --cor-destaque: #f24822;
  --cor-erro: #b3260a;
  --cor-fundo: #fdfdfd;
  --cor-texto: #1a1a1a;
  --cor-texto-claro: #ffffff;

  --raio: 8px;
  --raio-grande: 14px;
  --espaco: 16px;
}
